html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFCFF2;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
}

.header-container {
  background-color: white;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 16px;
}

.logo {
  font-size: 4rem;
  justify-self: end;
  align-self: center;
}

.new-book {
  font-size: 2rem;
  justify-self: start;
  align-self: end;
  margin-bottom: 8px;
  cursor: default;
}

.new-book:hover {
  background-color: #A2D2FF;
}

.library-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 25px;
  padding: 16px;
  justify-items: center;
}

.book-card {
  background-color: white;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 8px;
  max-width: 250px;
  box-shadow: 2px 2px 4px grey;
  width: 100%;
}

.book-title,
.book-author,
.book-pages,
.book-read,
.book-unread,
.book-remove {
  padding: 8px;
}

.book-title {
  background-color: #CDB4DB;
  color: white;
  border-radius: 8px 8px 0px 0px;
  font-size: 1.25rem;
  font-weight: 500;
  grid-column: 1 / 3;
  justify-self: stretch;
  text-align: center;
}

.book-author, .book-pages {
  padding-left: 25px;
}

.book-author {
  grid-column: 1 / 3;
  padding-top: 16px;
}

.book-pages {
  grid-row-start: 3;
  align-self: end;
}

.book-read, .book-unread {
  color: white;
  grid-row-start: 4;
  border-radius: 0px 0px 0px 8px;
  font-weight: 700;
  text-align: center;
}

.book-status, .book-read, .book-unread {
  cursor: default;
}

.book-read {
  background-color: #A2D2FF;
}

.book-unread {
  background-color: #FFAFCC;
}

.book-data {
  display: none;
  grid-column: 1 / -1; 
}

.book-remove {
  background-color: #fac748;
  color: white;
  grid-column-start: 2;
  grid-row-start: 4;
  border-radius: 0px 0px 8px 0px;
  font-weight: 700;
  text-align: center;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  grid-column-start: -1;
  grid-row: 1 / -1;
  display: none;
  gap: 8px;
  max-width: 250px;
  width: 100%;
}

.visible {
  display: grid;
}

.input {
  background-color: #CDB4DB;
}
